<div *ngIf="villager">
    <div *ngIf="villager.gender == 'Male'; then renderMale else renderFemale"></div>
    <ng-template #renderMale>
        <h1 class="no-margin">
            {{ villager.name['name-USen'] }}
            <mat-icon class="blue-icon">male</mat-icon>
        </h1>
    </ng-template>
    <ng-template #renderFemale>
        <h1 class="no-margin">
            {{ villager.name['name-USen'] }}
            <mat-icon class="pink-icon">female</mat-icon>
        </h1>
    </ng-template>
    <mat-icon class="float-left">cake</mat-icon>
    <p class="vil-bday" [innerHtml]="villager['birthday-string'] | superscriptDate"></p>
    <img [src]="villager.image_uri">
    <div>
        <p><q><i>{{villager.saying}}</i></q></p>
    </div>
    <p class="no-margin"><mat-icon>group</mat-icon>{{ villager.species }}</p>
    <p class="no-margin"><mat-icon>psychology</mat-icon>{{ villager.personality }}</p>
</div>
