p.no-margin {
    margin-bottom: 0;
}

.vil-bday {
    font-size: smaller;
    margin-bottom: 0;
}

.float-left {
    float: left;
}

.blue-icon {
    color: lightblue;
}

.pink-icon {
    color: pink;
}